body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5px;
  width: 95vw;
  height: 95vh;
  font-family: Lato;
  font-weight: 300;
  background: #beeb71;
}

.space {
  margin-top: 4vh;
}
.btn-roll {
  margin-bottom: 3vh;
}
.btn {
  border-radius: 5px;
}
.my-dynamic {
  width: 30vw;
  height: 9vh;
}

.bigplane {
  margin: 1px;
  width: 82vw;
  height: 30vh;
  background-color: #6ab417;
}

.player-score {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}

.active {
  background-color: #376d03;
}

.player-name {
  text-align: center;
  font-weight: bold;
}

.player-score-current {
  height: 100px;
  width: 100px;

  text-align: center;
  font-size: 70px;
  font-weight: 80;
  color: black;
}

.dice {
  margin: 5vw;
}

.winner {
  background-color: #fcd307;
}
.winner .player-name {
  font-weight: 300;
  color: #eb4d4d;
}

@import "bootstrap/functions";
@import "bootstrap/variables";

/* set the overriding variables */
$grid-breakpoints: (
    xxxs: 0,
    xxs: 320px
  )
  /*Menu 0.2 - new content below*/ .popup_content {
  margin: 10px;
  padding: 0 10px;
  max-width: 60%;
  border: 2px solid #444;
  background: white;
};
